.navbar_logo {
  object-fit: contain;
  height: 25px;
  margin-left: 20%;
}
.navi {
  padding: 20px;
  justify-content: space-between;
  display: flex;
}
/* .search_div {
  margin-left: auto;
} */
.sideBarToggler {
  font-size: 1.3rem;
  border-radius: 40%;
  transition: 700ms;
  padding: 2px;
  align-items: center;
}
.header_1 {
  display: flex;
  align-items: center;
}
.user_nav_right {
  display: flex;
  align-items: center;
}
/* @media only screen and (max-width: 1060px) {
  .user_nav_right {
    margin-left: 12%;
  }
} */
.sideBarToggler:hover {
  background-color: lightgray;
  animation: ease-out;
}
/* .postAvatar {
  border: 1px solid orangered;
  margin-right: 1.7%;
} */
.buty {
  /*display: flex;*/
}
.search_div {
  display: flex;
}
.search_div > input {
  flex: 1;
}
@media only screen and (max-width: 700px) {
  .search_div {
  }
  .Search {
    display: none;
  }
  .Search:focus {
  }
}
.navi {
  width: 100%;
  border: 1px solid rgb(209, 207, 207);
  box-shadow: 0.5px 0.1px rgb(196, 195, 195);
  background-color: white;
  display: flex;
  position: sticky;
  height: 56px;
  top: 0;
  z-index: 1;
  align-items: center;
}
