.navbar_logo {
  object-fit: contain;
  height: 20px;
  margin-left: 5%;
  border: 1px solid blue;
}
.search_div {
  margin-left: auto;
  margin-right: auto;
}
.sideBarToggler {
  font-size: 1.3rem;
  margin-left: 1.7%;
  margin-right: 1.7%;
  border-radius: 50%;
  border: 1px solid red;
  transition: 1200ms;
  padding: 2px;
  align-items: center;
}
.nav_right {
  margin-right: 1.7%;
}
.sideBarToggler:hover {
  background-color: lightgray;
  animation: ease-out;
}
.postAvatar {
  border: 1px solid orangered;
  margin-right: 1.7%;
}

.navbar {
  width: 100%;
  border: 1px solid rgb(209, 207, 207);
  box-shadow: 0.5px 0.1px rgb(196, 195, 195);
  background-color: white;
  display: flex;
  position: sticky;
  height: 56px;
  top: 0;
  z-index: 1;
  align-items: center;
}
